<div class="container">
  <div class="row border" id="form">
    <div class="col-md-12">
      <div class="row bootstrap snippets">
        <div class="col-md-12">
          <div class="comment-wrapper">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h5>Comentários : {{cooperativa.siglaCooperativa}}</h5>
              </div>
              <hr class="style1">
              <div class="panel-body" id="painelcomentarios">
                <div *ngFor="let item of comentarios">
                  <div class="media-body" >
                    <span class="text-muted pull-right">
                      <small class="text-muted">{{item.createdAt | amTimeAgo:true}}</small>
                    </span>
                    <p>
                      {{item.descricao}}
                    </p>
                  </div>
                  <hr class="style2">
                </div>
              </div>
              <textarea class="form-control" placeholder="write a comment..." [(ngModel)]="comentario.descricao" rows="2"></textarea>
              <button (click)="salvaComentario()" type="button" class="btn btn-info pull-right">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
