body {
  margin-top: 20px;
}

.comment-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}

.comment-wrapper .media-list .media img {
  width: 64px;
  height: 64px;
  border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom: 1px dashed #efefef;
  margin-bottom: 25px;
}


#painelcomentarios {

  height: 600px;
  overflow: auto;
  overflow-x: hidden;
}

#form {
  margin-top: 15px;
  padding: 10px 5px 10px 5px;
}

hr.style1 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
hr.style2 {
	border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
}
