<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  </div>
  <div class="modal-body">
    <h6>{{ message }}</h6>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="accept()">{{ btnOkText }}</button>
    <button type="button" class="btn btn-success" (click)="decline()">{{ btnCancelText }}</button>
  </div>