<div class="container">
  <div class="row" id="cooperativa">
    <div class="col-md-12">
      <div >
        <div class="row">
          <div class="col-md-12 ">
            <img src="../../assets/logo_fencom.png" alt="fencom" class="img-fluid mx-auto d-block">
          </div>
        </div>
        <hr />
      </div>
      <div class="row" style="margin-top: 30px">
        <div class="col-md-6 text-center">
            <a routerLink="/cadastrocoop" class="btn btn-success btn-lg" role="button" aria-pressed="true"><i class="fa fa-plus"
                aria-hidden="true"></i> Cadastrar Cooperativa</a>
          </div>
          <div class="col-md-6 text-center">
            <a routerLink="/pesquisacoop" class="btn btn-warning btn-lg" role="button" aria-pressed="true"><i class="fa fa-search"
                aria-hidden="true"></i> Pesquisar Cooperativa </a>
          </div>
        </div>
      </div>
    </div>
  </div>
