<div class="container">
  <div class="row border" id="pesquisaCooperativa">
    <div class="col-md-12">
        <div class="row">
          <div class="col-sm-6">
            <h5>Cooperativas Cadastradas</h5>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-hover table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">Açoes</th>
                    <th scope="col">Sigla</th>
                    <th scope="col">Gerente</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Site</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Diretor Presidente</th>
                    <th scope="col">Diretor Administrativo</th>
                    <th scope="col">Diretor Financeiro</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cooperativa">
                    <td><button class="btn btn-primary fa fa-pencil btn-sm" [routerLink]="['/cadastrocoop',item._id]" title="Editar" ></button>
                      <button class="btn btn-success fa fa-commenting btn-sm" [routerLink]="['/comentarioscoop',item._id]" id="botoes" ></button>
                      <button (click)="openConfirmationDialog($event, item)" class="btn btn-danger fa fa-trash btn-sm"></button>
                    </td>
                    <td>{{item.siglaCooperativa}}</td>
                    <td>{{item.nomeGerente| slice:0:15}}</td>
                    <td>{{item.emailCooperativa}}</td>
                    <td>{{item.site}}</td>
                    <td>{{item.ufCooperativa}}</td>
                    <td>{{item.nomePresidente}}</td>
                    <td>{{item.nomeAdmin}}</td>
                    <td>{{item.nomeFinanceiro}}</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
