<div class="container">
  <div class="row border" id="formCadastro">
    <div class="col-md-12">
      <form novalidate #formCooperativa="ngForm" (ngSubmit)="realizaCadastro()">
        <div class="row">
          <div class="col-sm-12">
            <h5>Dados Cooperativa</h5>
            <hr />
            <div class="row">
              <div class="form-group col-md-4">
                <label for="nomeCooperativa">Nome Cooperativa:</label>
                <input type="text" class="form-control" id="nomeCooperativa" name="nomeCooperativa" [(ngModel)]="cooperativa.nomeCooperativa"
                  placeholder="Nome Cooperativa">
              </div>
              <div class="form-group col-md-2">
                <label for="nomeCooperativa">Sigla:</label>
                <input type="text" class="form-control" id="siglaCooperativa" name="siglaCooperativa" [(ngModel)]="cooperativa.siglaCooperativa"
                  placeholder="Sigla">
              </div>
              <div class="form-group col-md-2">
                <label for="dataFundacao">Data Fundação:</label>
                <input type="date" class="form-control" id="dataFundacao" name="dataFundacao" [(ngModel)]="cooperativa.dataFundacao">
              </div>
              <div class="form-group col-md-2">
                <label for="registroOce">Nº Registro OCE:</label>
                <input type="number" class="form-control" id="registroOce" placeholder="Registro OCE" [(ngModel)]="cooperativa.registroOce"
                  name="registroOnce">
              </div>
              <div class="form-group col-md-2">
                <label for="registroFencom">Nº Registro Fencom:</label>
                <input type="number" class="form-control" id="registroFencom" placeholder="Registro Fencom" [(ngModel)]="cooperativa.registroFencom"
                  name="registroFencom">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="nomeGerente">Nome Gerente:</label>
                <input type="text" class="form-control" id="nomeGerente" placeholder="Nome Gerente" [(ngModel)]="cooperativa.nomeGerente"
                  name="nomeGerente">
              </div>
              <div class="form-group col-md-6">
                <label for="emailCooperativa">Email:</label>
                <input type="email" class="form-control" id="emailCooperativa" placeholder="E-mail" [(ngModel)]="cooperativa.emailCooperativa"
                  name="emailCooperativa">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label for="enderecoCooperativa">Endereço:</label>
                <input type="text" class="form-control" id="enderecoCooperativa" placeholder="Endereço" [(ngModel)]="cooperativa.enderecoCooperativa"
                  name="enderecoCooperativa">
              </div>
              <div class="form-group col-md-2">
                <label for="numeroCooperativa">Nº:</label>
                <input type="number" class="form-control" id="numeroCooperativa" placeholder="Nº" [(ngModel)]="cooperativa.numeroEndCooperativa"
                  name="numeroEndCooperativa">
              </div>
              <div class="form-group col-md-2">
                <label for="complementoCooperativa">Complemento:</label>
                <input type="text" class="form-control" id="complementoCooperativa" placeholder="Complemento"
                  [(ngModel)]="cooperativa.complemententoCooperativa" name="complemententoCooperativa">
              </div>
              <div class="form-group col-md-3">
                <label for="cidadeCooperativa">Cidade:</label>
                <input type="text" class="form-control" id="cidadeCooperativa" placeholder="Cidade" [(ngModel)]="cooperativa.cidadeCooperativa"
                  name="cidadeCooperativa">
              </div>
              <div class="form-group col-md-1">
                <label for="estadoCooperativa">UF</label>
                <input type="text" class="form-control" id="estadoCooperativa" placeholder="Uf" [(ngModel)]="cooperativa.ufCooperativa"
                  name="ufCooperativa">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-2">
                <label for="telefoneCooperativa">Telefone:</label>
                <input type="text" class="form-control" id="telefoneCooperativa" placeholder="Telefone" [(ngModel)]="cooperativa.telefoneCooperativa"
                  name="telefoneCooperativa">
              </div>
              <div class="form-group col-md-3">
                <label for="siteCooperativa">Site:</label>
                <input type="text" class="form-control" id="siteCooperativa" placeholder="Site" [(ngModel)]="cooperativa.site"
                  name="site">
              </div>
              <div class="form-group col-md-2">
                <label for="mandatoCooperativa">Mandato:</label>
                <input type="text" class="form-control" id="mandatoCooperativa" placeholder="Mandato" [(ngModel)]="cooperativa.mandato"
                  name="mandato">
              </div>
             

            </div>
            <div class="row" style="margin-top: 12px;">
              <div class="col-sm-12">
                <h5>Dados Diretoria</h5>
                <hr />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-5">
                <label for="nomePresidente">Diretor Presidente:</label>
                <input type="text" class="form-control" id="nomePresidente" placeholder="Diretor Presidente"
                  [(ngModel)]="cooperativa.nomePresidente" name="nomePresidente">
              </div>
              <div class="form-group col-md-2">
                <label for="dataNascPresidente">Data Nascimento:</label>
                <input type="date" class="form-control" id="dataNascPresidente" [(ngModel)]="cooperativa.dataNascimentoPresidente"
                  name="dataNascimentoPresidente">
              </div>
              <div class="form-group col-md-2">
                <label for="cpfPresidente">CPF:</label>
                <input type="text" class="form-control" id="cpfPresidente" placeholder="CPF" [(ngModel)]="cooperativa.cpfPresidente"
                  name="cpfPresidente">
              </div>
              <div class="form-group col-md-2">
                <label for="telefonePresidente">Telefone:</label>
                <input type="text" class="form-control" id="telefonePresidente" placeholder="Telefone" [(ngModel)]="cooperativa.telefonePresidente"
                  name="telefonePresidente">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="enderecoPresidente">Endereço:</label>
                <input type="text" class="form-control" id="enderecoPresidente" placeholder="Endereco" [(ngModel)]="cooperativa.enderecoPresidente"
                  name="enderecoPresidente">
              </div>
              <div class="form-group col-md-6">
                <label for="emailPresidente">Email:</label>
                <input type="email" class="form-control" id="emailPresidente" placeholder="E-mail" [(ngModel)]="cooperativa.emailPresidente"
                  name="emailPresidente">
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="form-group col-md-5">
                <label for="nomeAdm">Diretor Administrativo:</label>
                <input type="text" class="form-control" id="nomeAdm" placeholder="Diretor Administrativo" [(ngModel)]="cooperativa.nomeAdmin"
                  name="nomeAdmin">
              </div>
              <div class="form-group col-md-2">
                <label for="nascimentoAdm">Data Nascimento:</label>
                <input type="date" class="form-control" id="nascimentoAdm" [(ngModel)]="cooperativa.dataNascimentoAdmin"
                  name="nascimentoAdm">
              </div>
              <div class="form-group col-md-2">
                <label for="cpfAdm">CPF:</label>
                <input type="text" class="form-control" id="cpfAdm" placeholder="CPF" [(ngModel)]="cooperativa.cpfAdmin"
                  name="cpfAdmin">
              </div>
              <div class="form-group col-md-2">
                <label for="telefoneAdm">Telefone:</label>
                <input type="text" class="form-control" id="telefoneAdm" placeholder="Telefone" [(ngModel)]="cooperativa.telefoneAdmin"
                  name="telefoneAdmin">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="enderecoAdm">Endereço:</label>
                <input type="text" class="form-control" id="enderecoAdm" placeholder="Endereco" [(ngModel)]="cooperativa.enderecoAdmin"
                  name="enderecoAdmin">
              </div>
              <div class="form-group col-md-6">
                <label for="emailAdm">Email:</label>
                <input type="email" class="form-control" id="emailAdm" placeholder="E-mail" [(ngModel)]="cooperativa.emailAdmin"
                  name="emailAdmin">
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="form-group col-md-5">
                <label for="nomeFinanceiro">Diretor Financeiro:</label>
                <input type="text" class="form-control" id="nomeFinanceiro" placeholder="Diretor Financeiro" [(ngModel)]="cooperativa.nomeFinanceiro" name="nomeFinanceiro">
              </div>
              <div class="form-group col-md-2">
                <label for="nascimentoFinanceiro">Data Nascimento:</label>
                <input type="date" class="form-control" id="nascimentoFinanceiro" [(ngModel)]="cooperativa.dataNascimentoFinanceiro" name="dataNascimentoFinanceiro">
              </div>
              <div class="form-group col-md-2">
                <label for="cpfFinanceiro">CPF:</label>
                <input type="text" class="form-control" id="cpfFinanceiro" placeholder="CPF"  [(ngModel)]="cooperativa.cpfFinanceiro" name="cpfFinanceiro">
              </div>
              <div class="form-group col-md-2">
                <label for="telefoneFinanceiro">Telefone:</label>
                <input type="text" class="form-control" id="telefoneFinanceiro" placeholder="Telefone" [(ngModel)]="cooperativa.telefoneFinanceiro" name="telefoneFinanceiro">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="enderecoFinanceiro">Endereço:</label>
                <input type="text" class="form-control" id="enderecoFinanceiro" placeholder="Endereco" [(ngModel)]="cooperativa.enderecoFinanceiro" name="enderecoFinanceiro">
              </div>
              <div class="form-group col-md-6">
                <label for="emailFinanceiro">Email:</label>
                <input type="email" class="form-control" id="emailFinanceiro" placeholder="E-mail" [(ngModel)]="cooperativa.emailFinanceiro" name="emailFinanceiro">
              </div>
            </div>
            <hr />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>
